<div class="home-div">
  <div class="display-title">
    <div> <h1> <strong>[</strong> Chloé Bretnacher <strong>]</strong></h1> </div>
    <div> <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/v1736090416/Frame_1-2_jgfhfm.png" alt="logo" id="logo-home" "> </div>
  </div>

  <div>
    <h2>Portfolio/</h2>
    <h3>2024-2025</h3>
    <ul>
      <li><a href="<%= about_path %>">About</a></li>
      <li><a href="<%= projects_path %>">Projets</a></li>
      <li><a href="<%= contact_path %>">Contact</a></li>
    </ul>
  </div>
</div>
