<div>
  <div>
    <h1> <strong>[</strong> Chloé Bretnacher <strong>]</strong></h1>
  </div>
  <div>
    <ul>
      <li><a href="<%= about_path %>">About</a></li>
      <li><a href="<%= projects_path %>">Projets</a></li>
      <li><a href="<%= contact_path %>">Contact</a></li>
    </ul>
  </div>
</div>

<div>
<h1>Merci pour votre message !</h1>
<p>Je vous répondrai dès que possible.</p>
<a href="<%= root_path %>">Retour à l'accueil</a>
</div>
<div>
</div>
