<nav class="navbar">
    <div class="navbar-left">
      <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/v1736090416/Frame_1-2_jgfhfm.png" alt="logo" class="logo">
      <h1> <strong>[</strong> Chloé Bretnacher <strong>]</strong></h1>
    </div>
    <ul class="navbar-menu">
      <li><a href="<%= about_path %>">About</a></li>
      <p> | <p>
      <li><a href="<%= projects_path %>">Projets</a></li>
      <p> | <p>
      <li><a href="<%= contact_path %>">Contact</a></li>
    </ul>
</nav>


<div class="thankyou-div">
  <div class="thankyou-text">
    <h1>Merci pour votre message !</h1>
    <p>Je vous répondrai dès que possible.</p>
    <a href="<%= root_path %>">Retour à l'accueil</a>
  </div>
</div>
