<div>
  <div>
    <h1> <strong>[</strong> Chloé Bretnacher <strong>]</strong></h1>
  </div>
  <div>
    <ul>
      <li><a href="<%= about_path %>">About</a></li>
      <li><a href="<%= projects_path %>">Projets</a></li>
      <li><a href="<%= contact_path %>">Contact</a></li>
    </ul>
  </div>
</div>

<div>
  <div>
    <h1>Spark</h1>
    <p>Description du projet Spark...</p>
    <a href="<%= projects_path %>">Retour aux projets</a>
  </div>
  <div>
    Images
  </div>
</div>


<div>
</div>
